.button {
  padding-top: 14px;
  padding-bottom: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  border-radius: 8px;
  background: #bedbb0;

  color: #161616;
  /* font-family: Poppins; */
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.02em;
  width: 335px;
}
.span {
  padding: 7px;
  background-color: #161616;
  line-height: 0;
  border-radius: 4px;
}
.iconPlus {
  stroke: #ffffff;
}
