.secondScrol .os-scrollbar.os-scrollbar-vertical.os-scrollbar-cornerless {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100px;
  width: 8px;
  padding: 0;
  right: 7px;
}
.secondScrol .os-scrollbar .os-scrollbar-track {
  width: 100%;
}
.secondScrol
  .os-scrollbar.os-scrollbar-handle-interactive
  .os-scrollbar-handle {
  background-color: #121212;
  border-radius: 100px;
}
.secondScrol .os-scrollbar-auto-hide.os-scrollbar-auto-hide-hidden {
  opacity: 1;
  visibility: visible;
}
.lightsecondScrol .os-scrollbar.os-scrollbar-vertical.os-scrollbar-cornerless {
  background-color: #e8e8e8;
}
.lightsecondScrol
  .os-scrollbar.os-scrollbar-handle-interactive
  .os-scrollbar-handle {
  background-color: rgba(22, 22, 22, 0.1);
}
.violetsecondScrol .os-scrollbar.os-scrollbar-vertical.os-scrollbar-cornerless {
  background-color: #ffffff;
}
.violetsecondScrol
  .os-scrollbar.os-scrollbar-handle-interactive
  .os-scrollbar-handle {
  background-color: #b8bcfd;
}
@media screen and (min-width: 768px) {
  .secondScrol .os-scrollbar.os-scrollbar-vertical.os-scrollbar-cornerless {
    right: 0px;
  }
}

.isHiden .os-scrollbar.os-scrollbar-vertical.os-scrollbar-cornerless {
  display: none;
}
.isHiden .os-scrollbar {
  display: none;
}
