.filterWrapper {
  display: flex;
  column-gap: 8px;
  align-items: center;
  margin-left: auto;
  padding-right: 20px;
}
.iconFilter {
  stroke: rgba(255, 255, 255, 0.8);
  fill: transparent;
}
.spanFilter {
  color: rgba(255, 255, 255, 0.8);

  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.02em;
}
.lightFilter {
  color: rgba(22, 22, 22, 0.8);
}
.light.iconFilter {
  stroke: rgba(22, 22, 22, 0.8);
  fill: transparent;
}
.violetFilter {
  color: rgba(22, 22, 22, 0.8);
}
.violet.iconFilter {
  stroke: rgba(22, 22, 22, 0.8);
  fill: transparent;
}
