.cont {
  position: absolute;
  right: 20px;
  top: 14px;
  margin-left: auto;
}
.filterWrapper {
  display: inline-flex;
  column-gap: 8px;
  align-items: center;

  cursor: pointer;
}
.iconFilter {
  stroke: rgba(255, 255, 255, 0.8);
  fill: transparent;
  transition: stroke 250ms linear;
}
.spanFilter {
  color: rgba(255, 255, 255, 0.8);

  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.02em;
  transition: color 250ms linear;
}
.lightFilter {
  color: rgba(22, 22, 22, 0.8);
}
.light.iconFilter {
  stroke: rgba(22, 22, 22, 0.8);
  fill: transparent;
}
.violetFilter {
  color: rgba(22, 22, 22, 0.8);
}
.violet.iconFilter {
  stroke: rgba(22, 22, 22, 0.8);
  fill: transparent;
}
.filterWrapper:hover .iconFilter,
.filterWrapper:focus .iconFilter {
  stroke: #bedbb0;
}

.filterWrapper:hover .violet.iconFilter,
.filterWrapper:focus .violrt.iconFilter {
  stroke: #5255bc;
}
/* .filterWrapper:hover .spanFilter,
.filterWrapper:focus .spanFilter {
  color: #bedbb0;
} */
@media screen and (min-width: 768px) {
  .filterWrapper {
    top: 20px;
    right: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .filterWrapper {
    top: 14px;
    right: 24px;
  }
}
.backDrop {
  /* width: 1440px;
  margin-left: auto;
  margin-right: auto; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 15;
  visibility: hidden;
  opacity: 0;
  transition: visibility 400ms linear, opacity 400ms linear;
}
.isActive.backDrop {
  visibility: visible;
  opacity: 1;
}
.modalWrapper {
  width: 300px;
  /* height: 300px; */
  border-radius: 8px;
  background: #151515;
  border: 1px solid rgba(190, 219, 176, 0.5);
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 24px;
  z-index: 5;
  /* display: none; */
  transform: translateX(100%);
  transition: transform 400ms linear;
  z-index: 16;
}
.isActive.modalWrapper {
  transform: translate(0%);
}
.filterText {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.02em;
  margin-bottom: 14px;
}

.filterLine {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 14px;
}
.chooseAllWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}
.chooseText {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.02em;
}
.ChooseButton {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  line-height: normal;
  letter-spacing: -0.02em;
  text-decoration-line: underline;
  border: none;
  outline: transparent;
  padding: 0;
  line-height: 0;
  background-color: transparent;
  transition: color 250ms linear;
}
.ChooseButton:hover,
.ChooseButton:hover {
  color: rgba(255, 255, 255, 0.748);
}
.priorityList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.priorityLi {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  line-height: normal;
  letter-spacing: -0.02em;
  display: flex;
  column-gap: 8px;
  cursor: pointer;
  transition: color 250ms linear;
}
.priorityLi:hover,
.priorityLi:hover {
  color: rgba(255, 255, 255, 0.748);
}
.isActive.priorityLi {
  color: #ffffff;
}

.withoutSpan {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
}

.lowSpan {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #8fa1d0;
  position: relative;
}
.mediumSpan {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #e09cb5;
  position: relative;
}
.highSpan {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #bedbb0;
  position: relative;
}
.isActive.selectSpan::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #151515;
  background-color: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  line-height: 0;
}
.closeButton {
  position: absolute;
  top: 14px;
  right: 14px;
  transition: stroke 250ms linear;
  cursor: pointer;
  background-color: transparent;
  outline: transparent;
  border: none;
  border-radius: 50%;
  line-height: 0;
  padding: 0;
  transition: border 250ms linear;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconClose {
  stroke: #ffffff;
}
.closeButton :hover .iconClose,
.closeButton :focus .iconClose {
  stroke: #b9dba7;
}
.closeButton:hover {
  border: 1px solid #b9dba7;
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1440px) {
}
