.list {
  height: 191px;
  overflow: scroll;
  margin-bottom: 51px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

@media screen and (min-width: 1440px) {
  .list {
    height: 126px;
  }
}
