.list{
    width: 260px;
    height: 126px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 40px;
    margin-bottom: 40px;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
}