/* .background {
 background: linear-gradient(to bottom, #ffffff, #bedbb0);
 width: 100vh;
} */

.section {
  margin: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  background: linear-gradient(to bottom, #ffffff, #bedbb0);
}

.fix {
  padding: 0 20px;
  max-width: 375px;
}

@media only screen and (min-width: 768px) {
  .fix {
    min-width: 473px;
    padding: 0;
  }
}

.avatar {
  display: flex;
  justify-content: center;
}

.logoName {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 14px;
  margin-bottom: 24px;
}
.developerAvatar {
  padding: 0 0 24px 0;
}
.iconApp {
  border-radius: 8px;
}
.logoIconBG {
  background-color: #161616;
}
.title {
  color: #161616;
  font-weight: 600;
  font-size: 28px;
  letter-spacing: -0.04em;
}
.description {
  font-weight: 400;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #161616;
  padding: 0 0px 48px 0px;
}

@media screen and (min-width: 768px) {
  .description {
    padding: 0 0 48px 0;
  }
}

.btnBox {
  display: block;
}

@media screen and (min-width: 768px) {
  .btnBox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.button {
  width: 100%;
  height: 49px;
  margin-bottom: 14px;
  border-radius: 8px;
  border: 0;
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #161616;
  transition: background-color 400ms ease-in-out;
}

@media only screen and (min-width: 768px) {
  .button {
    width: 344px;
  }
}

.buttonActive {
  background-color: #161616;
  color: #ffffff;
}

.buttonActive:hover,
.buttonActive:focus {
  background-color: #9dc888;
}

.button:hover,
.button:focus {
  background-color: #9dc888;
  color: #ffffff;
}

.multiLine {
  white-space: pre-line;
}
.googleIcon {
  font-size: 24px;
}

.google {
  display: flex;
  gap: 10px;
  padding: 0;
  align-items: center;
  justify-content: center;
}
@media (max-width: 375px) {
  .breakLine {
    display: none;
  }
}

.titleNotFound {
  padding-bottom: 40px;
  text-align: center;
}
