.icon_bg{
  display: flex;
  background-color: green;
  width: 48px;
  height: 48px;
  border-radius: 8px;
  padding: 12px 15px;
}

.icon_task_light {
  /* fill: #fff; */
  fill: #fff;
  stroke: none;
}
