.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  width: 335px;
  padding: 24px;
  background-color: #1d1d1d;
  border-radius: 8px;
  border: 1px solid #ccc;
  overflow: auto;
  position: relative;
}
.violet.modalContent {
  background: rgb(230, 230, 230);
}
.light.modalContent {
  background: rgb(252, 252, 252);
}

.title {
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
.violet .title {
  color: rgb(22, 22, 22);
}

.light .title {
  color: rgb(22, 22, 22);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.input {
  width: 100%;
  padding: 14px 18px;
  font-size: 14px;
  color: #fff;
  background-color: #2d2d2d;
  border: 1px solid rgb(190, 219, 176);
  border-radius: 8px;
  opacity: 0.4;
}
.violet .input {
  color: rgb(22, 22, 22);
  background-color: rgb(252, 252, 252);
  border: 1px solid rgb(82, 85, 188);
  opacity: 0.4;
}

.light .input {
  color: rgb(22, 22, 22);
  background-color: rgb(252, 252, 252);
}

.input:focus {
  opacity: 1;
  outline: none;
}
.input:focus:valid {
  background-color: #2d2d2d;
}

.violet .input:focus:valid {
  border-color: rgb(82, 85, 188);
  background-color: rgb(252, 252, 252);
}

.light .input:focus:valid {
  border: 1px solid rgb(190, 219, 176);
  background-color: rgb(252, 252, 252);
}

.input::placeholder {
  color: #bbb;
}

.passwordInputWrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.passwordIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.avatarWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
  position: relative;
}

.avatar {
  width: 68px;
  height: 68px;
  border-radius: 8px;
  object-fit: cover;
}

.btn {
  width: 100%;
  padding: 14px 0;
  font-size: 14px;
  background: rgb(190, 219, 176);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: 500;
}
.violet .btn {
  background: rgb(82, 85, 188);
}

.btn:hover {
  background-color: #9dc888;
}
.violet .btn:hover {
  background: rgb(123, 126, 222);
}
.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
}
.icon {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: rgba(255, 255, 255, 0.4);
}
.violet .icon {
  color: rgb(22, 22, 22, 0.4);
}
.iconPlus {
  stroke: #161616;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
}
.btnClose {
  position: absolute;
  top: 14px;
  right: 14px;
  line-height: 0;
  padding: 0;
  background-color: transparent;
  outline: transparent;
  border-radius: 4px;
  border: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btnClose:hover,
.btnClose:focus {
  background-color: #9dc888;
}
.violet.btnClose:hover,
.violet.btnClose:focus {
  background-color: #7b7ede;
}

.btnClose:hover .btnCloseIcon,
.btnClose:focus .btnCloseIcon {
  stroke: rgb(22, 22, 22);
}

.violet.btnClose:hover .btnCloseIcon,
.violet.btnClose:focus .btnCloseIcon {
  stroke: #fff;
}
.btnCloseIcon {
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btnCloseIcon {
  stroke: #fff;
}
.violet .btnCloseIcon {
  stroke: rgb(22, 22, 22);
}

.light.btnCloseIcon {
  stroke: rgb(22, 22, 22);
}
.btnEditPhoto {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 50%;
  bottom: -12px;
  transform: translateX(-50%);
  border-radius: 6px;
  background: rgb(190, 219, 176);
  border: none;
}
.violet .btnEditPhoto {
  background: rgb(236, 237, 253);
}
@media screen and (min-width: 768px) {
  .modalContent {
    width: 400px;
  }
}
