.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  width: 335px;
  padding: 24px;
  background-color: #1d1d1d;
  border-radius: 8px;
  border: 1px solid #ccc;
  overflow: auto;
  position: relative;
}

.title {
  margin-bottom: 24px;
  font-family: var(--font-medium);
  font-size: 18px;
  color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.input {
  width: 100%;
  padding: 14px 18px;
  font-family: var(--font-regular);
  font-size: 14px;
  color: #fff;
  background-color: #2d2d2d;
  border: 1px solid rgb(190, 219, 176);
  border-radius: 8px;
  opacity: 0.4;
}
.input:focus {
  opacity: 1;
  outline: none;
}
.input:focus:valid {
  background-color: #2d2d2d;
}

.input::placeholder {
  color: #bbb;
}

.passwordInputWrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.passwordIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.avatarWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
  position: relative;
}

.avatar {
  width: 68px;
  height: 68px;
  border-radius: 8px;
  object-fit: cover;
}

.btn {
  width: 100%;
  padding: 14px 0;
  font-size: 14px;
  background: rgb(190, 219, 176);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.btn:hover {
  background-color: #9dc888;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
}
.icon {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: rgba(255, 255, 255, 0.4);
}
.btnClose {
  position: absolute;
  top: 14px;
  right: 14px;
  line-height: 0;
  padding: 0;
  background-color: transparent;
  outline: transparent;
  border-radius: 4px;
  border: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btnClose.dark:hover,
.btnClose.dark:focus,
.btnClose.light:hover,
.btnClose.light:focus {
  background-color: #9dc888;
}
.btnClose.violet:hover,
.btnClose.violet:focus {
  background-color: #7b7ede;
}

.btnClose.dark:hover .btnCloseIcon,
.btnClose.dark:focus .btnCloseIcon {
  stroke: #161616;
}

.btnClose.violet:hover .btnCloseIcon,
.btnClose.violet:focus .btnCloseIcon {
  stroke: #fff;
}
.btnCloseIcon {
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btnCloseIcon.dark {
  stroke: #fff;
}

.btnCloseIcon.light,
.btnCloseIcon.violet {
  stroke: #161616;
}
.btnEditPhoto {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 50%;
  bottom: -12px;
  transform: translateX(-50%);
  border-radius: 6px;
  background: rgb(190, 219, 176);
  border: none;
}
