.container {
  margin-right: auto;
  margin-left: auto;
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1440px;
  }
}