.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .form {
    width: 100%;
  }
}

.button {
  margin-top: 10px;
  color: 161616;
  font-weight: 500;
  background-color: #bedbb0;
  border-radius: 8px;
  width: 287px;
  height: 49px;
  border: none;
  cursor: pointer;
  transition: background-color 400ms ease-in-out;
}

@media only screen and (min-width: 768px) {
  .button {
    width: 344px;
  }
}

.button:hover {
  background-color: #9dc888;
}

.inputContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input {
  background-color: #151515;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  width: 287px;
  height: 49px;
  padding: 14px 40px 14px 18px;
  margin-bottom: 15px;
  font-size: 14px;
  outline: none;
  margin: 0;
  color: rgba(255, 255, 255, 0.4);
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

@media only screen and (min-width: 768px) {
  .input {
    width: 344px;
  }
}

.icon {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: rgba(255, 255, 255, 0.4);
}

.errorMessage {
  color: #bedbb0;
  padding: 5px 0 5px 18px;
  font-size: 11px;
}
