.container {
  margin-right: auto;
  margin-left: auto;
  /* min-width: 320px; */
  position: relative;
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
    /* padding-left: 20px; */
    /* padding-right: 20px; */
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 100%;
    /* padding-left: 24px; */
    /* padding-right: 24px; */
  }
}
