.wrap {
  background-color: transparent;
  height: 100%;
  position: relative;
  width: 260px;
}
/* .text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
} */
.wrapPicker {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: rgb(190, 219, 176);
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: left;
}
.button {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 0;
}
.datePickerWrap {
  position: absolute;
  top: 44px;
  left: 0px;
  z-index: 9999;
}
