.react-datepicker {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14;
  border: none;
}

.react-datepicker__month-container {
  background-color: rgb(31, 31, 31);
  border-radius: 8px;
  border: 1px solid rgb(190, 219, 176);
}

.react-datepicker__header {
  background-color: rgb(31, 31, 31);
  border: none;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.02em;
}

.react-datepicker__day-name {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: left;
}
.react-datepicker__day {
  font-size: 14px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.02em;
}

.react-datepicker__day:hover {
  background-color: rgb(190, 219, 176);
  border-radius: 50%;
  color: rgb(31, 31, 31);
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: rgb(190, 219, 176);
  border-radius: 50%;
  color: rgb(31, 31, 31);
}

.react-datepicker__day--disabled {
  color: rgba(255, 255, 255, 0.2);
}

.react-datepicker__navigation--previous,
.react-datepicker__navigation--next {
  color: #07bff0;
}
.react-datepicker__day--today {
  font-weight: 600;
}
.react-datepicker__navigation-icon::before {
  border-color: rgb(190, 219, 176);
}
.react-datepicker__day--outside-month {
  visibility: hidden;
}
