/* List */

.ul {
  z-index: 9999;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  gap: 8px;
  flex-direction: column;
  padding: 18px;

  min-width: 81px;
  min-height: 57px;
  border-radius: 8px;
  transform: translate(-50%, -50%);
}

.ul.dark {
  box-shadow: 0 4px 16px 0 rgba(17, 17, 17, 0.1);
  background: #1f1f1f;
}

.ul.light,
.ul.violet {
  box-shadow: 0 4px 16px 0 rgba(17, 17, 17, 0.1);
  background: #fcfcfc;
}

/* Item */

.item {
  position: relative;
  display: block;
}

/* Button */

.button {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;

  background-color: transparent;
  padding: 0;
  line-height: 0;
  border: none;
  cursor: pointer;
  outline: transparent;
}

/* Title */

.title {
  display: block;
  transition: color 250ms linear;
}

.title.dark {
  color: rgba(255, 255, 255, 0.5);
}

.title.light,
.title.violet {
  color: #161616;
}

.button:hover .title.dark,
.button:focus .title.dark,
.button:hover .title.light,
.button:focus .title.light {
  color: #bedbb0;
}

.button:hover .title.violet,
.button:focus .title.violet {
  color: #5255bc;
}

/* Icon */

.icon {
  fill: transparent;
  transition: stroke 250ms linear;
}

.icon.dark {
  stroke: rgba(255, 255, 255, 0.5);
}

.icon.light,
.icon.violet {
  stroke: #161616;
}

.button:hover .icon,
.button:focus .icon {
  stroke: #bedbb0;
}

.button:hover .violet.icon,
.button:focus .violet.icon {
  stroke: #5255bc;
}
