.listItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 12px;
  width: 360px;
  height: 100px;
  font-size: 20px;
  overflow: auto;
}
.wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 12px;
}
.infoBlock {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.button {
  margin-left: auto;
}
