.wrapForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 360px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
}
.input{
    height: 40px;
    width: 100%;
}
.button {
    width: 160px;
    height: 40px;
}
.label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}
.error {
    color: red;

}