.logOutText {
  font-weight: 500;
  font-size: 14px;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 0;
  border: 0;
  margin-top: 24px;
}

.logOutText.dark,
.logOutText.violet {
  color: #fff;
}

.logOutText.light {
  color: #161616;
}

.logo.dark,
.logo.light {
  stroke: #bedbb0;
}

.logo.violet {
  stroke: #fff;
}

@media (min-width: 1440px) {
  .logOutText {
    font-size: 16px;
  }
}
