.modalBackdrop {
    position: fixed;
    z-index: 1000;
    inset: 0;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    background-color: rgb(0 0 0 / 50%);
  }
  
  .modal {
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
  }