.headerContainer {
  height: 60px;
  padding: 14px 20px;

  /* 14px */

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerContainer.dark {
  background-color: #161616;
}

.headerContainer.light {
  background-color: #fcfcfc;
}

.headerContainer.violet {
  background-color: #fcfcfc;
}

.mobileMenuIcon{
  cursor: pointer;
}

.mobileMenuIcon {
  display: inline-block;
}

.mobileMenuIcon.dark {
  stroke: #fff;
}

.mobileMenuIcon.light {
  stroke: #161616;
}

.mobileMenuIcon.violet {
  stroke: #161616;
}

.selectTitle {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
}

.selectTitle.dark {
  color: rgba(255, 255, 255, 0.8);
}

.selectTitle.light {
  color: rgba(22, 22, 22, 0.8);
}

.selectTitle.violet {
  color: rgba(22, 22, 22, 0.8);
}

.selectThemeIcon.dark {
  stroke: rgba(255, 255, 255, 0.8);
}

.selectThemeIcon.light {
  color: rgba(22, 22, 22, 0.8);
}

.selectThemeIcon.violet {
  color: rgba(22, 22, 22, 0.8);
}

.themeList {
  position: absolute;
  top: 50px;
  left: -20px;
  padding: 18px;
  border-radius: 8px;
  width: 100px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
  z-index: 12;
}

.themeList.isOpen {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.themeList.dark {
  border: 1px solid #bedbb0;
  box-shadow: 0 4px 16px 0 rgba(17, 17, 17, 0.1);
  background-color: #151515;
}

.themeList.light {
  border: 1px solid #bedbb0;
  box-shadow: 0 4px 16px 0 rgba(17, 17, 17, 0.1);
  background: #fcfcfc;
}

.themeList.violet {
  border: 1px solid #ecedfd;
  box-shadow: 0 4px 16px 0 rgba(17, 17, 17, 0.1);
  background: #fcfcfc;
}

.themeListItem {
  font-family: "Poppins";
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  position: relative;
}

.themeListItem::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.3s ease; /* Додаємо плавний перехід для кольору кружечка */
}

.themeListItem:hover::after {
  background-color: #bedbb0; /* Колір кружечка при ховері */
}

.themeListItem.dark {
  color: rgba(255, 255, 255, 0.5);
}

.themeListItem.dark.active {
  color: #bedbb0;
}

.themeListItem.light {
  color: #161616;
}

.themeListItem.light.active {
  color: #bedbb0;
}

.themeListItem.violet {
  color: #161616;
}

.themeListItem.violet.active {
  color: #5255bc;
}

.userName {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
}

.userName.dark {
  color: #fff;
}

.userName.light {
  color: #161616;
}

.userName.violet {
  color: #161616;
}

.avatarWrapper {
  border-radius: 8px;
  width: 32px;
  height: 32px;
  overflow: hidden;
  background-color: yellow;
}
.clickable {
  cursor: pointer;
}

.themeWrapper {
  /* position: relative; */
  display: flex;
  align-items: center;
  gap: 4px;
}

.userWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.infoWrapper {
  position: relative;
  display: flex;
  gap: 14px;
  cursor: pointer;
  transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  width: 335px;
  outline: none;
  padding: 20px;
  overflow: auto;
  box-sizing: border-box;
  border: 1px solid rgba(190, 219, 176, 0.5);
  border-radius: 8px;
  box-shadow: 0px 4px 16px 0px rgba(22, 22, 22, 0.05);
  background: rgb(21, 21, 21);
}

@media screen and (min-width: 768px) {
  .headerContainer {
    height: 68px;
    padding: 18px 32px;
  }
  .mobileMenuIcon {
    width: 32px;
    height: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .mobileMenuIcon {
    display: none;
  }
  .infoWrapper {
    margin-left: auto;
  }
}


.infoWrapper:hover {
  border-bottom: 2px solid #9dc888;
}