.iconList {
  display: flex;
  margin-left: auto;
  margin-top: auto;
  column-gap: 8px;
}
.button {
  background-color: transparent;
  padding: 0;
  line-height: 0;
  border: none;
  cursor: pointer;
}
.icon {
  stroke: rgba(255, 255, 255, 0.5);
  fill: transparent;
}
.white.icon {
  stroke: rgba(22, 22, 22, 0.5);
  fill: transparent;
}
.iconBell {
  stroke: rgba(190, 219, 176, 1);
  fill: none;
}
.violet.iconBell {
  stroke: rgba(82, 85, 188, 1);
}
.li {
  display: block;
  line-height: 0;
}
.buttonBell {
  background-color: transparent;
  padding: 0;
  line-height: 0;
  border: none;
  padding-right: 5px;
}
