.title {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.02em;
}
.light.title {
  color: #161616;
}
.violet.title {
  color: #161616;
}
.titleFilterWrapper {
  display: inline-flex;
  margin-bottom: 39px;
}
.columnContainer {
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 24px;
}
.columnContainer::-webkit-scrollbar {
  height: 12px;
}
.columnContainer::-webkit-scrollbar-track {
  background: #161616;
  border-radius: 8px;
}
.light.columnContainer::-webkit-scrollbar-track {
  background: #ffffff;
}
.violet.columnContainer::-webkit-scrollbar-track {
  background: #ffffff;
}
.columnContainer::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}
.light.columnContainer::-webkit-scrollbar-thumb {
  background-color: #e8e8e8;
}
.violet.columnContainer::-webkit-scrollbar-thumb {
  background-color: #b8bcfd;
}

.columnWrapper {
  display: flex;
  gap: 18px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 18px;
  }
  .screenContainer {
    padding: 26px 18px 32px 32px;
    min-height: 956px;
  }
  .titleFilterWrapper {
    margin-bottom: 26px;
  }
  .columnContainer {
    padding-bottom: 52px;
  }
}
@media screen and (min-width: 1440px) {
  .screenContainer {
    padding: 10px 18px 8px 24px;
    min-height: 702px;
    width: 1180px;
    margin-left: 260px;
  }
  .titleFilterWrapper {
    margin-bottom: 10px;
  }
  .columnContainer {
    padding-bottom: 16px;
  }
}
