.screenContainer {
  background-color: #1f1f1f;
  padding: 14px 8px 24px 20px;
  min-height: 752px;
}
.light.screenContainer {
  background-color: #f6f6f7;
}
.violet.screenContainer {
  background-color: #ecedfd;
}
.title {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.02em;
}
.light.title {
  color: #161616;
}
.violet.title {
  color: #161616;
}
.titleFilterWrapper {
  display: flex;
  /* justify-content: space-between; */
  margin-bottom: 39px;
}
.columnContainer {
  overflow-x: auto;
  /* max-width: 355px; */
}
.columnWrapper {
  display: flex;
  flex-direction: row;
  gap: 18px;
  flex-wrap: nowrap;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 18px;
  }
}
@media screen and (min-width: 1440px) {
}
